* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  color: #0B132A;
  background-color: #fff;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


@media screen and (max-width: 1024px) {
  .container{
    padding: 0 40px;
  }
  body {
    text-align: center;
  }
}

@media screen and (min-width: 1920px) {
  body {
    zoom: 1.4; 
  }
}