.footer {
  background: #F6F5F5;
  position: relative;
  z-index: 1;
  padding: 140px 70px 40px;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__copyright {
  font-size: 16px;
  font-weight: 400;
  color: #AFB5C0;
  line-height: 30px;
}

.footer__copyright__bolt {
  font-weight: 500;
}

.footer__social {
  display: flex;
  gap: 15px;
}

.social__btn img {
  width: 50px;
  height: 50px;
  transition: all 0.3s ease;
}

.footer__social img:hover {
  transform: scale(1.8) rotate(5deg);
}

.footer__logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
  font-size: 18px;
  font-weight: 400;
  color: #0B132A;
}

.footer__logo--img {
  height: 36px;
  width: 35px;
}
.logo-text{
  font-weight: 500;
}
.bold-logo {
  font-weight: 700;
}

@media screen and (max-width: 1024px) {
  .footer__container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;
  }

  .footer__logo--img{
    width: 20px;
    height: 22px;
  }

  .logo-text{
    font-size: 18px;
  }
}