.hero{
    display: flex;
    padding-top: 80px;
    gap: 20px;
}

.hero_filters {
    flex: 1;
    border-right: 1px solid #ccc;

}

.hero__contetnt {
  flex: 4;   
  
}

.hero_title {
    font-weight: 500;
    margin-bottom: 15px;
}

.hero__sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #ccc; 
    padding-bottom: 10px;  
}

.hero__sort h2{
    max-width: 60%;
}

.hero__sort--btn {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 23px;
  background-color: white; 
  cursor: pointer;
  margin-right: 20px;
  color: black; 
  border: 1px solid rgb(10, 100, 245);
  transition: background-color 0.3s, color 0.3s;
}

.hero__sort--btn.active {
  background-color: rgb(10, 100, 245); 
  color: #fff;
}


.hero_count{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero_count h2,
.hero__sort h2{
    font-weight: 500;
    font-size: 14px;
    color: #4F5665;
}


.hero_count h3{
    font-weight:300 ;
    font-size: 14;
    color: #4F5665
}

.hero__count--btn{
  background-color:blue;
  width: 90px;
  height: 30px;
  border-radius: 30px;
  text-align: center; 
  font-weight: 700;
  color: #fff;
  border: none;
  margin: 0 auto;
  margin-top: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}

.hero_filters h3{
    font-size: 15px;
    font-weight: 500;
    margin-top: 20px;
    color: rgba(0, 0, 206, 0.856);
}
